.container{
    background-color: grey;
    width: 120px;
    border: solid black 1px;
}


#display{
    background-color: green;
    border: solid 1px black;
    width: 100px;
    align-self: center;
}

.numbers{
    display: grid;
    grid-template-rows: repeat(3, 20px);
    grid-template-columns: repeat(3, 20px);
    grid-gap: 2px;
    width: 80px;
}

.zero{
    margin-left: 22px;
    padding-right: 12px;
}

.operators{
    margin-top: -93px;
    margin-left: 80px;
    width: 20px;
}

.operator{
    color: white;
    border: solid black 1px;
    background-color: #4B73AB;
}

.number{
    background-color: #C5DFDE;
    border: solid black 1px;
}

.equals{
    color: white;
    background-color: #4B73AB;
    margin: 10px;
    border: solid black 1px;
}

.clear{
    color: white;
    background-color: rgb(173, 138, 72);
    border: solid black 1px;
}

